In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/amans/OneDrive/Documents/iris.csv")
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
data

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [6]:
data["variety"].value_counts()

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [7]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [8]:
data['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

variety
Setosa        50
Versicolor    50
Virginica     50
Name: count, dtype: int64

In [10]:
data['petal.length'].mean()

3.7580000000000005

#### Observations
- There are no null values
- Found 4 numerical values
- One Categorical value(Target)
- Here the numerical columns are independent and Target is the independent
- There are 3 types of Flowers among the dataset
- They are Setosa , Versicolor and Virginica
- There are no duplicate rows
- Equal amount flower quantity in dataset

In [12]:
print(data['petal.length'].mean().round(2))
print(data['petal.width'].mean())
print(data['sepal.length'].mean())
print(data['sepal.width'].mean())

3.76
1.1993333333333336
5.843333333333334
3.0573333333333337