In [1]:
# Given a list  L=[ 200,10,53,87,98] segregate this intp even list and odd list

L = [200, 10, 53, 87, 98]
even_list = [num for num in L if num % 2 == 0]
odd_list == [num for num in L if num % 2 != 0]

print("Even List:", even_list)
print("Odd List:", odd_list)

Even List: [200, 10, 98]
Odd List: [53, 87]

In [9]:
 4 not in [30,40,4,0]

False

In [11]:
 4 in [30,40,4,0]

True

In [3]:
import cmath


a = 1
b = -4
c = 5


discriminant = cmath.sqrt(b**2 - 4*a*c)


x1 = (-b + discriminant) / (2 * a)
x2 = (-b - discriminant) / (2 * a)

print("The roots of the equation are:")
print(f"x1 = {x1}")
print(f"x2 = {x2}")

The roots of the equation are:
x1 = (2+1j)
x2 = (2-1j)

In [9]:


a = 1
b = -5
c = 5

root1 = ((-1*b) + (b**2 - 4*a*c)** 0.5) / 2* a
root1

3.618033988749895

In [11]:
root1 = ((-1*b) + (b**2 - 4*a*c)** 0.5) / 2* a
root1

3.618033988749895

In [1]:
my_list = [10,20,30,40]
for item in my_list:
    print(3*item)

30
60
90
120

In [18]:
 orders = [["apple", 10], ["banana", 5], ["cherry", 7], ["banana", 5]]
new_orders = ["grapes", 9]
orders.append(new_orders)

print(orders)

[['apple', 10], ['banana', 5], ['cherry', 7], ['banana', 5], ['grapes', 9]]

In [25]:
orders = [["apple", 10], ["banana", 5], ["cherry", 7], ["dragon", 9]]

for order in orders:
    if order[0] == "dragon":
        print(f"Quantity of dragon: {order[1]}")

Quantity of dragon: 9

In [4]:
orders = [['apple', 10], ['banana', 5], ['mango', 8], ['cherry', 7]]

for each in orders:
    if each[0] == "cherry":
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['mango', 8], ['cherry', 10]]

In [16]:
orders = [['apple', 9], ['banana', 8], ['mango', 4], ['orange',5], ['apple', 11]]


total = []
for each_item in orders:
    if each_item[0] == "apple":
        total.append(each_item[1])
print(total)
print(sum(total))

[9, 11]
20

In [20]:
tup1 = (4,10,20,23,"A",9.81,False, 9-6j)
print(tup1)
print (type(tup1))

(4, 10, 20, 23, 'A', 9.81, False, (9-6j))
<class 'tuple'>

In [22]:
tup1[4:6]

('A', 9.81)

In [24]:
tup1[2:5]

(20, 23, 'A')

In [26]:
tup1[2:4]

(20, 23)

In [28]:
tup1[1:5]

(10, 20, 23, 'A')

In [30]:
tup2 = (10,1,2,4,5,8,96,59,71,89,51,2,2,2,39,42)
tup2.count(2)

4

In [32]:
tup3 = (10,1,2,4,5,8,96,59,71,89,51,2,2,2,39,42)
tup3.index(2)

2

In [34]:
d1 = {"a": 1, "b": 2, "c": 3}
print(d1)
print(type(d1))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [5]:
scores = {'Jadeja':50,'Virat':90,'Rohit':100,'Rahul':70,'Hardik':50}
scores

{'Jadeja': 50, 'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 50}

In [11]:
scores.update({'Jadeja':100})
scores

{'Jadeja': 100, 'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 50}

In [15]:
scores.setdefault('Pujara',25)
scores

{'Jadeja': 100,
 'Virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 50,
 'Pujara': 50}

In [23]:
scores.popitem()
scores

{'Jadeja': 100, 'Virat': 90, 'Rohit': 100, 'Rahul': 70, 'Hardik': 50}

In [25]:
scores.pop("Virat")
scores

{'Jadeja': 100, 'Rohit': 100, 'Rahul': 70, 'Hardik': 50}

In [27]:
scores.get("Hardik")

50

In [33]:
my_dict.update({"A":10,"D":20})
my_dict

{'A': 10, 'B': 20, 'C': None, 'D': 20}

In [29]:
list1 = ["A","B","C","D"]
my_dict =dict.fromkeys(list1)
my_dict

{'A': None, 'B': None, 'C': None, 'D': None}

In [35]:
print(scores.keys())
print(scores.values())
print(scores.items())

dict_keys(['Jadeja', 'Rohit', 'Rahul', 'Hardik'])
dict_values([100, 100, 70, 50])
dict_items([('Jadeja', 100), ('Rohit', 100), ('Rahul', 70), ('Hardik', 50)])

In [37]:
for k in scores.keys():
    if k == 'Hardik':
        scores[k] = 19
scores

{'Jadeja': 100, 'Rohit': 100, 'Rahul': 70, 'Hardik': 19}

In [46]:
scores_list = []
for v in scores.values():
    scores_list.append(v)
print(scores_list)
print("Total Score: ", sum(scores_list))

[100, 100, 70, 19]
Total Score:  289

In [52]:
total_score = sum(scores.values())
print(total_score)

for k,v in scores.items():
    print(f"Contribution of {k} to total score: {(v/total_score)*100}")

289
Contribution of Jadeja to total score: 34.602076124567475
Contribution of Rohit to total score: 34.602076124567475
Contribution of Rahul to total score: 24.22145328719723
Contribution of Hardik to total score: 6.5743944636678195

In [ ]:

def calculate_grade():
    try:
        
        mark1 = float(input("Enter marks for subject 1: "))
        mark2 = float(input("Enter marks for subject 2: "))
        mark3 = float(input("Enter marks for subject 3: "))

        
        average = (mark1 + mark2 + mark3) / 3

        
        if average >= 90:
            print("Grade: A")
        elif 80 <= average < 90:
            print("Grade: B")
        elif 70 <= average < 80:
            print("Grade: C")
        else:
            print("Grade: Fail")
    except ValueError:
        print("Invalid input! Please enter numeric values for marks.")


calculate_grade()